 <Alloy>
    <Window id="settings">
         <View class="header">
            <View class="status" />
            <Require src="components/menuButton" id="menuButton" />
            <Label class="headerTitle" />
        </View>

        <ScrollView class="content">
            <View class="contentContainer">
                <View class="settingsRow">
                    <Label class="settingsLabel" id="settingsHighContrastLabel" />
                    <Switch class="settingsSwitch" id="settingsHighContrast" value="false" onChange="onChangeSettingsHighContrast"/>
                </View>

                <View class="divider" />

                <View class="settingsRow">
                    <Label class="settingsLabel" id="settingsInvert" />
                    <Switch class="settingsSwitch" id="settingsInvert" value="false" onChange="onChangeSettingsInvert"/>
                </View>

                <View class="divider" />

                <View class="settingsRow">
                    <Label class="settingsLabel" id="settingsBigFont" />
                    <Switch class="settingsSwitch" id="settingsBigFont" value="false" onChange="onChangeSettingsBigFont"/>
                </View>

                <View class="divider" />

            </View>
        </ScrollView>
    </Window>
</Alloy>
